<!DOCTYPE html>
<html>
<head>
    <title>{{  item.title }}</title>
</head>

<body>
    <h1>{{  item.title }}</h1>
    {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{  item.id  }}"> Muokkaa julkaisua </a>
    <a href="/remove_item/{{  item.id  }}"> Poista Julkaisu </a>
  </p>
  {% endif %}
    <p>
        työnantaja:{{ item.author}}
    <p>
    <p>
        Palkka:{{ item.salary }} €/kk
    <p>
    <p>
        sijainti: {{ item.location }}
    <p>
    <p>
        Työpaikkakuvaus:
        {{ item.description }}
    <p>
    <p>
        Julkaisija:
        <a href="/user/{{  item.user_id  }}">{{ item.username }}
    <p>
    <p>
        viimeinen hakupäivä:
            {{ item.deadline }}
    <p>
    <p>
        <a href="/">Etusivulle</a>
    <p>
</body>
</html>