{% extends "layout.html" %}

{% block title %}Käyttäjän {{ user.username }} Profiili{% endblock %}

{% block content %}

    <h2>Käyttäjän {{ user.username }} Profiili</h2>
<div class="register">
    <p>
        Käyttäjällä on yhteensä {{ items | count }} julkaisua.
    </p>

    <h3>Ilmoitukset</h3>
    
    {% for item in items %}
      <div class="item">
        <a href="/item/{{ item.id }}">{{ item.title }}</a> <br />
        Ilmoittaja: <a href="/user/{{ item.user_id }}">{{ item.username }}</a> <br />
        Hakijoiden määrä: {{ item.application_count }}
      </div>
    {% endfor %}
</div>

{% endblock %}
