{% extends "layout.html" %}

{% block title %}{{  item.title  }}{% endblock %}

{% block content %}

    <h2>{{  item.title }}</h2>
    {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{  item.id  }}"> Muokkaa julkaisua </a>    |
    <a href="/remove_item/{{  item.id  }}"> Poista Julkaisu </a>
  </p>
  {% endif %}
  <div class="item_view">
    työnantaja:{{ item.author}}
    <p>
    <p>
        Palkka:{{ item.salary }} €/kk
    <p>
    <p>
        sijainti: {{ item.location }}
    <p>
    <p>
        Työpaikkakuvaus:
        {{ item.description }}
    <p>
    <p>
        Julkaisija:
        <a href="/user/{{  item.user_id  }}">{{ item.username }}</a>
    </p>
    {% if classes %}
        Luokat:
        <ul>
        {% for class in classes %}
        <li>{{ class.title }}: {{ class.value }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    <p>
        viimeinen hakupäivä:
            {{ item.deadline }}
    <p>
    
        <h3>Hakijat ({{ applications|length }} kpl)</h3>


<ul>
    {% for application in applications %}
    <li>
        <a href="/user/{{ application.user_id }}">{{ application.username }}</a><br>
        <strong>Ikä:</strong> {{ application.age }}<br>
        <strong>Sähköposti:</strong> {{ application.email }}<br>
        <strong>Viesti:</strong><br>
        <em>{{ application.message }}</em><br>

        {% if session.user_id == application.user_id %}
        <form action="/delete_application/{{ item.id }}" method="POST" style="display:inline;">
            <button type="submit" onclick="return confirm('Haluatko varmasti poistaa hakemuksesi?');">Poista hakemus</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h4>Hae Työpaikkaa</h4>

{% if session.user_id %}
    {% if session.user_id != item.user_id %}
        {% if request.args.get('error') == 'already_applied' %}
        <p style="color: red; font-weight: bold;">Olet jo hakenut tähän työpaikkaan.</p>
    {% else %}

    <form action="/create_application" method="post">
        <input type="hidden" name="item_id" value="{{ item.id }}">

        <label for="age">Ikä:</label><br>
        <input type="number" name="age" id="age" min="0" max="99" pattern="[1-9][0-9]{0,7}" required><br><br>

        <label for="email">Sähköposti:</label><br>
        <input type="email" name="email" id="email" maxlength="50" required><br><br>

        <label for="message">Kerro hieman itsestäsi:</label><br>
        <textarea name="message" id="message" rows="7" cols="45" maxlength="300" required></textarea><br><br>

        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Hae" />
    </form>
    {% endif %}
{% else %}
    <p>Et voi hakea omaan työpaikkaasi.</p>
    {% endif %}
{% else %}
    <p>Sinun täytyy olla kirjautuneena, jotta voit hakea työpaikkaa.</p>
{% endif %}
</div>
{% endblock %}