{% extends "layout.html" %}

{% block title %}Uusi Julkaisu{% endblock %}

{% block content %}
    <h2>Uusi Julkaisu</h2>
    <div class="item_view">
    <form action="/create_item" method="post">
        <p>
            <label for="title">Työtehtävä: </label><br />
            <input type="text" name="title" maxlength="50" id="title" required />
        </p>
        <p>
            <label for="author">Työnantajan nimi: </label> <br />
            <input type="text" name="author" maxlength="50" id="author"required />
        </p>
        <p>
            <label for="location"> Työpaikan sijainti:</label> <br />
            <input type="text" name="location" maxlength="50" id="location" required />
        </p>
        <p>
            <label for="salary"> Palkka: </label> <br />  
            <input type="text" name="salary" pattern="[1-9][0-9]{0,7}" id="salary" required/> €/kk
        </p>
        <label for="description">Työnkuvaus: </label> <br />
        <textarea name="description" rows="20" cols="70" maxlength="1000" id="description" required></textarea>
    </p>
        <label for="deadline"> Viimeinen hakupäivä: </label> <br />
        <input type="date" name="deadline" min="{{ today }}" id="deadline" required />
    </p>
    {% for class in classes %}
    <p>
        {{ class }}: <br />
        <select name="classes">
          <option value="">(valitse)</option>
            {% for option in classes[class] %}
            <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endfor %}
          </select>
        </p>
        {% endfor %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Luo ilmoitus" />
      </form>
    </div>
{%endblock%}